form {
  display: flex;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
  padding: 1px;
}
input:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */

input {
  margin-top: 3em;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 0 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 435px;
  height: 68px;
  text-indent: 17px;
  font-size: 20px;
  border: none;
}

button {
  margin-top: 3em;
  background-color: #848beb;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 0 0 rgba(0, 0, 0, 0.19);
  border: none;
  width: 145px;
  height: 70px;
  font-size: 20px;
  color: #fff;
}
button:hover {
  text-decoration-line: underline;
}

.footer-margin {
  top: 10%;
  margin: 1.5em;
}
