* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: white;
  text-decoration-line: none;
}
a:hover {
  color: #c1c1c1;
}
.title_box {
  margin-bottom: 0;
  text-align: center;
  margin: auto;
  background-color: white;
  width: 720px;
  height: 115px;
}
.main_box {
  margin-bottom: 1;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  width: 720px;
  height: 400px;
}
.footer_box {
  margin: auto;
  text-align: left;
  color: #fcfcfc;
  background-color: #7b7b7b;
  width: 720px;
  height: 200px;
}
header {
  font-size: 20px;
}
