* {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  color: white;
  text-decoration-line: none;
  margin-right: 0.3em;
}
a:hover {
  color: #c1c1c1;
}
h2 {
  color: black;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.title_box {
  margin-bottom: 0;
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  width: 720px;
  height: 115px;
}
.main_box_index {
  margin-bottom: 1;
  margin: auto;
  
  width: 720px;
  height: 400px;
}
.main_box_search {
  margin-bottom: 1;
  margin: auto;
  
  width: 720px;
  height: 400px;
}
.footer_box_index {
  margin: auto;
  text-align: left;
  color: #fcfcfc;
  background-color: #7b7b7b;
  width: 720px;
  height: 200px;
  display: flex;
}
#wrapper{
  height : 100%;
}
.footer_box_search {
  height : auto;
  min-height: 100%;
  margin: auto;
  text-align: left;
  color: #fcfcfc;
  background-color: #7b7b7b;
  width: 720px;
  height: 200px;
  display: flex;
}
header {
  font-size: 21px;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.footer-margin {
  top: 10%;
  margin: 1.5em;
}
