<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&display=swap"
      rel="stylesheet"
    />

    <title>송악고등학교 도서 검색기</title>
  </head>
  <body>
    <header class="title_box">
      <a href="/"><h2>송악고 도서관 책 검색</h2></a>
    </header>

    <div class="main_box_index" style="text-align: center">
      <form action="\inside" method="post">
        <input
          type="text"
          name="searchhtml"
          placeholder="검색하고 싶은 책 이름을 적어주세요!"
        />
        <button>검색</button>
      </form>
    </div>

    <footer class="footer_box_index">
      <div class="footer-margin">
        <h3>학생이 직접 제작한 웹 사이트 입니다.</h3>
        <a href="/readme">서비스 소개 </a>
        <a href="http://yoomin.xyz">포트폴리오 </a>
        <a href="/privacy">개인정보 처리방침 </a>
      </div>
    </footer>
  </body>
</html>
