<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='main.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>송악고등학교 도서 검색기</title>
  </head>
  <body>
    <header class="title_box"><h2>송악고 도서관 책 검색</h2></header>
    <div class="main_box" action="http://127.0.0.1:1234/inside" method="post">
      <form action="\post" method="post">
        <input
          type="text"
          id="searchhtml"
          placeholder="검색하고 싶은 책 이름을 적어주세요!"
        />
        <button>검색</button>
      </form>
    </div>

    <footer class="footer_box">
      <h3>학생이 직접 관리하는 웹 사이트 입니다.</h3>
      <!-- <h3>접속자 IP : {{ip}}</h3> -->
      <a href="/templates/readme.html">서비스 소개</a>
      <a href="http://yoomin.xyz">포트폴리오</a>
      <a href="/templates/privacy.html">개인정보 처리방침</a>
    </footer>
  </body>
</html>
