<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='readme.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='logo.png') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>송악고등학교 도서 검색기 개인정보 처리방침</title>
  </head>
  <body>
    <header class="title_box">
      <a href="/"><h2>송악고 도서관 책 검색 개인정보 처리방침</h2></a>
    </header>
    <div class="main_box">
      <h3>현재 제작중입니다.</h3>
      <p>
        하지만 IP와 검색기록을 제외 하고는 가져 갈수 있는 데이터가 없는데 ㅎ
      </p>
      <p>IP는 트래픽 많이 유발하는 사람 IP차단 용도니 오해 ㄴㄴ</p>
    </div>

    <footer class="footer_box">
      <!-- <h3>접속자 IP : {{ip}}</h3> -->
      <div class="footer-margin">
        <h3>학생이 직접 제작한 웹 사이트 입니다.</h3>
        <a href="/">홈 </a>
        <a href="/search">서비스 소개 </a>
        <a href="http://yoomin.xyz">포트폴리오 </a>
        <a href="/privacy">개인정보 처리방침 </a>
      </div>
    </footer>
  </body>
</html>
